
input.hidden { display: none; }

#map-canvas {
	height: 400px;
	margin: 0px;
	padding: 0px;
}

.legend {
	background: #FFF;
	padding: 10px;
	margin: 5px;
	font-size: 12px;
	font-family: Arial, sans-serif;
    border-radius: 25px;
    opacity: 0.4;
}

.legend:hover {
    opacity: 1.0;
}

#legend img {
	width: 24px;
	height: 24px;
}
.console {
	width: 300px;
	height: 200px;
	border: 1px solid;
	overflow: auto;
}

.console_container {
	float: left;
	display: block;
	margin: 10px;
	border: 1px solid;
}


#atable {
	border: 1px solid black;
	border-radius: 5px;
}

.ver_list .x-form-cb-checked{
    font-weight:bold;
}

.description {
	color: #FF0000;
}